@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  font-family: 'Varela Round', sans-serif;
  color: #000;
  letter-spacing: 1.6px;
}

.col-3 {
  padding: 0;
}

.col-8 {
  padding: 0;
}

.pl-6 {
  padding-left: 2.5rem!important;
}

.pl-7 {
  padding-left: 5rem!important;
}

header {
  border-right: #777 solid 5px;
}

main {
  margin: 2rem 0;
}

h1, nav ul li {
  border-bottom: #777 solid 1px;
}

/*ul {
  padding-left: 40px;
}*/

p {
  margin-bottom: 1rem;
}

li {
  margin-bottom: .7rem;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  list-style: none;
  padding: 10px 0 10px 0;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  padding: 20px 0 20px 0;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

p,
li {
  font-size: .9rem;
  font-weight: normal;
}

section {
  margin-bottom: 2rem;
}
